.day-card{
  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(6px);
  color: #FFF;
  padding: 5px;
  border-bottom: 3px solid #74D9B1;
  margin-bottom: 20px;
}

h5{
  color: #74D9B1;
}

.maxima{
  color: red;
  font-size: 20px;
}

.minima{
  color: blue;
  font-size: 20px;
}

.daynum{
  font-size: 20px;
}

.h5-clim{
  font-size: 10px;
}

.mg-auto{
  margin: auto;
}
