footer{
  border-top: 3px solid #74D9B1;
  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(6px);
  color: #FFF;
  margin-top: 25px;
  padding: 10px;
}

h3{
  color: #74D9B1;
}

.ul-list{
  font-size: 22px;
}

.ul-list li{
  list-style-type: none;
}

.ul-list li a{
  color: #FFF;
}

.ul-list li:hover a{
  color: #74D9B1;
  text-decoration: none;
}

.foot-section{
  padding: 20px;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
  font-size: 22px;
}

a{
  color: #74D9B1 !important;
}

a:hover{
  color: #74D9B1 !important;
  text-decoration: none;
}
