nav{
  background-color: rgba(0,0,0,0.75) !important;
  backdrop-filter: blur(6px);
  border-bottom: 3px solid #74D9B1;
  color: #FFF;
}

.app-bar .brand, .app-bar .app-bar-menu{
  background-color: rgba(0,0,0,0);
}

.hamburger .line, .nav-button .line{
  background-color: #74D9B1;
}

.app-bar-expand .app-bar-menu.collapsed{
  margin-left: auto;
}

.bar-button{
  background-color: rgba(0,0,0,0);
  color: #FFF;
  border-width: 0px;
}
